body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #007bff;
  color: white;
  padding: 50px 0;
}

.header-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

header img {
  max-width: 100%;
  height: auto;
  margin-bottom: 100px;
  
  
}

h1 {
  margin: 0;
  font-size: 28px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.article {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.article h2 {
  margin-top: 0;
  font-size: 24px;
}

.article p {
  font-size: 16px;
  line-height: 1.6;
}
